* {
  box-sizing: border-box;
}

/* General */
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;

  @media screen and (max-width: 1240px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.title {
  color: #171717;
  font-size: 48px;
  font-family: "Marcellus", serif;
  line-height: 1;
  font-weight: normal;
}

.description {
  color: #4a4f61;
  font-size: 20px;
  font-weight: normal;
}

a.button {
  font-size: 14px;
  background-color: #171717;
  font-weight: 500;
  padding: 15px;
  padding-left: 18px;
  padding-right: 18px;
  display: inline-block;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  line-height: 1;
  transition: background-color 0.3s;
}

a.button:hover {
  background-color: #333; /* Darker black on hover */
}

.centered-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 40px 80px;
}

.centered-content-image {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.centered-content-video-wrapper {
  max-width: 1400px;
  height: 600px;
  margin: 0 auto;
}

.centered-content-video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* homepage hero */
.hero {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 1240px) {
    min-height: 600px;
  }
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-small {
  min-height: 600px;
  max-height: 600px;
}

.hero-logo {
  z-index: 2;
  max-width: 700px;
  padding: 0 40px;

  @media screen and (max-width: 1240px) {
    max-width: 500px;
  }

  @media screen and (max-width: 1240px) {
    max-width: 300px;
  }
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  position: relative;
  z-index: 10;
  text-align: center;
}

.hero-title h1 {
  margin: 0;
  font-size: 96px;
  font-family: "Marcellus", serif;
  line-height: 1;
  font-weight: 400;
}

.hero-title p {
  margin: 0;
  font-size: 32px;
  font-family: "Inter", serif;
  line-height: 1;
  font-weight: 400;
}

/* Counter */
.counter {
  min-height: 300px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(16, 16, 16, 0) 100%
  );

  @media screen and (max-width: 768px) {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(16, 16, 16, 0) 100%
    );
  }
}

.counter-wrapper {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.counter-divider {
  width: 1px;
  height: 150px;
  background-color: #cacaca;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 1px;
    margin: 30px;
  }
}

.counter-number-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.counter-number {
  font-family: "DM Serif Display", serif;
  font-size: 64px;
  color: #171717;

  @media screen and (max-width: 1240px) {
    font-size: 32px;
  }
}

.counter-text {
  color: #4a4f61;
  font-size: 20px;
  margin: 0;
  min-width: max-content;

  @media screen and (max-width: 1240px) {
    font-size: 16px;
  }
}

/* Homepage social links */
.homepage-social {
  max-width: 500px;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.homepage-social .title {
  max-width: 360px;
}

.homepage-social .description {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Social links */
.social-icons-wrapper {
  display: flex;
  gap: 8px;
  margin: 0;
}

.social-icon {
  list-style: none;
  width: 42px;
  transition: opacity 0.3s;
}

.social-icon:hover {
  opacity: 0.8;
}

/* Find us */
.find-us-list {
  background-color: #171717;
}

.find-us-wrapper {
  display: flex;
  max-width: 100vw;
}

.find-us-main-image {
  width: 50%;
  object-fit: cover;
}

.find-us-info {
  display: flex;
  border-bottom: 1px solid #171717;
}

.find-us-list {
  list-style: none;
  font-size: 12px;
  margin: 0;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.find-us-list-item {
  display: flex;
  gap: 8px;
  color: rgba(255, 255, 255, 0.815);
}

.find-us-list-item p {
  margin: 0;
  margin-bottom: 2px;
}

.find-us-list-item a {
  color: inherit;
  text-decoration: none;
}

.find-us-list-item a:hover {
  color: white;
  text-decoration: underline;
}

.find-us-list-icon {
  width: 16px;
  display: block;
  margin-top: 4px;
  margin-right: 5px;
}

.find-us-info-wrapper {
  width: 50%;
  background-color: #171717;
  color: white;
}

.find-us-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  margin-left: 50px;
  margin-top: 36px;
  margin-bottom: 18px;
  margin-right: 8px;
}

.find-us-phone-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.find-us-infobox {
  min-width: 340px;
  padding-right: 12px;
  flex: 1;
}

.find-us-map {
  width: 100%;
  height: 100%;
}

.find-us-map img {
  width: 100%;
  height: 100%;
  min-height: 320px;
  object-fit: cover;
  display: block;
}

/* Header */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 100px;
}

.header-logo {
  width: 205px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  color: white;
  font-size: 20px;

  @media screen and (max-width: 1240px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navigation {
  @media screen and (max-width: 1240px) {
    transform: translateX(100%);
    background: rgba(255, 255, 255, 0.92);
    color: #171717;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    padding: 80px;
    padding-top: 160px;
    text-align: right;
    transition: transform 0.3s;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    text-align: center;
    padding: 140px 20px;
  }
}

.navigation.is-active {
  transform: translateX(0%);
}

.header ul {
  margin: 0;
  display: flex;
  gap: 40px;

  @media screen and (max-width: 1240px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.navigation li {
  list-style: none;

  @media screen and (max-width: 1240px) {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s;
  }
}

/* Stagger effect on smaller screens */
@media screen and (max-width: 1240px) {
  .navigation li:nth-child(1) {
    transition-delay: 0s;
  }

  .navigation li:nth-child(2) {
    transition-delay: 0.1s;
  }

  .navigation li:nth-child(3) {
    transition-delay: 0.2s;
  }

  .navigation li:nth-child(4) {
    transition-delay: 0.3s;
  }

  .navigation li:nth-child(5) {
    transition-delay: 0.4s;
  }

  .navigation li:nth-child(6) {
    transition-delay: 0.5s;
  }
}

.navigation.is-active li {
  @media screen and (max-width: 1240px) {
    opacity: 1;
    transform: translateY(0);
  }
}

.header a {
  color: inherit;
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: #171717;
}

.site-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 20px; /* Space between columns */
  background-color: #171717; /* Example background color */
  color: #fff; /* Example text color */
  padding: 40px 0; /* Add some padding */
}

.footer-logo {
  width: 207px;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-logo p {
  margin-bottom: 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section li:first-child {
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-section a {
  color: inherit; /* Ensure links inherit text color */
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline; /* Add hover effect for links */
}

.footer-section img {
  max-width: 100%;
  height: auto;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu li {
  margin-bottom: 10px;
}

.footer-social-icons .social-icons-list {
  display: flex;
  margin: 0;
  margin-left: -8px;
  margin-top: 10px;
}

.footer-social-icons .social-icon {
  width: 25px;
}

.devBy {
  background-color: #1a1a1a;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.884);
  padding: 10px;
  letter-spacing: 0.3px;
}

.devBy a {
  color: inherit;
  text-decoration: none;
}

.devBy a:hover {
  text-decoration: underline;
}

/* assortment-link */
.assortment-links-list {
  display: flex;
  margin: 72px auto 100px;
  justify-content: center;
  gap: 34px;
}

.assortment-link {
  text-decoration: none;
  color: white;
  position: relative;
}

.assortment-link-wrapper {
  min-width: 350px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.2s;
}

.assortment-link-wrapper:hover {
  background-size: 102%;
}

.assortment-link-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25); /* Black with 15% opacity */
  pointer-events: none; /* Ensures the overlay does not block interactions */
  transition: background-color 0.2s;
}

.assortment-link-wrapper:hover .overlay {
  background-color: rgba(0, 0, 0, 0.35); /* Black with 15% opacity */
}

.assortment-link-title {
  color: white;
  position: relative;
  z-index: 20;
  font-size: 28px;
  font-weight: 500;
  transition: font-size 0.2s;
}

.assortment-link-wrapper:hover .assortment-link-title {
  font-size: 30px;
}

.assortment-link-button {
  width: 100%;
  padding: 20px;
  border: none;
  background: #171717;
  color: white;
  font-weight: 500;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  transition: background-color 0.3s;
}

.assortment-link-button:hover {
  background-color: #333;
}

/* Product */
.product-category-page {
  margin-bottom: 100px;
}

.product-image {
  width: 100%;
  object-fit: cover; /* Ensures the image fits perfectly within the specified size */
  margin-bottom: 10px; /* Space between the image and the product name */
  display: block;
  margin: 0;
}

.product-image-wrapper {
  position: relative;
  overflow: hidden;
}

.product-image-wrapper:hover .product-details {
  top: 0;
}

.product-details {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.395);
  color: whitesmoke;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  transition: all 0.3s;
  font-size: 14px;
}

.product-details p {
  margin: 0;
}

.product-title {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 600;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 55px;
  justify-content: center; /* Center the grid within the container if necessary */
  padding: 20px; /* Optional padding for spacing around the grid */
  margin-top: 40px;
}

.product-name {
  font-size: 13px;
  font-weight: 500;
  color: #171717;
}

.product-link {
  color: #171717;
  text-decoration: none;
}

.woocommerce nav.woocommerce-pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px auto;
  gap: 5px;
  border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
  border: 1px solid #171717;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  color: #171717;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
  color: white;
  background-color: #171717;
}

.page-numbers li {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #171717;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: none;
  margin: 0;
}

.woocommerce-sorting {
  display: flex;
  margin-top: 72px;
  gap: 10px;
  justify-content: end;
}

/* Customizing the dropdown select element */
.woocommerce-sorting select {
  background-color: #fff;
  color: #171717;
  border: 1px solid #171717;
  padding: 8px 12px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

/* Styling the dropdown options */
.woocommerce-sorting select option {
  background-color: #fff;
  color: #171717;
  cursor: pointer;
}

/* Adding hover effect */
.woocommerce-sorting select:hover {
  border: 1px solid #171717;
}

/* overlapping images section */
.embroidery-section {
  padding-top: 100px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(16, 16, 16, 0) 25%
  );
}

.embroidery-text-above-title {
  font-size: 18px;
  color: #4a4f61;
  letter-spacing: 60%;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.embroidery-title {
  font-size: 48px;
  font-family: "Marcellus", serif;
  color: #171717;
  font-weight: 500;
  margin: 0;
  line-height: 1;
  margin-bottom: 60px;
}

.overlapping-wrapper {
  display: flex;
  align-items: start;
  gap: 10%;
}

.overlapping-images {
  flex-basis: 45%;
  flex-shrink: 0;
  position: relative;
}

.overlapping-image {
  width: 60%;
}

.overlapping-image-back {
  margin-right: 40%;
  margin-bottom: 27%;
}

.overlapping-image-front {
  position: absolute;
  bottom: 0;
  right: 0;
}

.overlapping-content-title {
  font-size: 36px;
  font-family: "Marcellus", serif;
  color: #171717;
  font-weight: 500;
  margin: 0;
  line-height: 1;
  margin-bottom: 30px;
}

.overlapping-content {
  padding-top: 12.5%;
}

.overlapping-content-text {
  color: #4a4f61;
  max-width: 600px;
}

.overlapping-icon-list-item {
  font-size: 22px;
}

/* Embroidery slider section */
.embroidery-slider {
  margin-top: 100px;
}

.embroidery-slider-title {
  font-size: 36px;
  font-family: "Marcellus", serif;
  color: #171717;
  font-weight: 500;
  margin: 0;
  line-height: 1;
  margin-bottom: 30px;
}

.embroidery-slider-text {
  font-size: 16px;
  color: #171717;
  margin: 0;
  margin-bottom: 30px;
  max-width: 750px;
}

.embroidery-image-gallery {
  display: flex;
  gap: 35px;
  max-width: 100%;
  margin-bottom: 200px;
  overflow: hidden;
}

.swiper-button-next {
  border: 1px solid red;
  width: 10px;
  height: 10px;
}

.embroidery-image-gallery .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet {
  background: #fff;
  border: 1px solid #171717;
  opacity: 1;
}
.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet-active {
  background: #171717;
}

/* About us */
.about-us-slider-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us-slider {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  overflow: hidden;
  position: relative;
  padding: 80px 0 40px;
  margin-bottom: 60px;
}

.about-us-slider .swiper-pagination {
  display: flex;
  justify-content: start;
  bottom: 45px !important;
}

.about-us-slider-image {
  max-width: 880px;
  width: 100%;
}

.about-us-slider-title {
  font-size: 36px;
  font-family: "Marcellus", serif;
  color: #171717;
  font-weight: 500;
  margin: 0;
  line-height: 1;
  margin-bottom: 30px;
}

.about-us-slider-text {
  color: #4a4f61;
  max-width: 720px;
  padding-right: 50px;
}

/* icons-section */
.icons-section-full-image {
  width: 100%;
  height: 426px;
  object-fit: cover;
}

.icons-section-list {
  padding: 118px 0;
  margin: 0 auto;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.icons-section-list-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icons-section-list-item svg {
  flex-shrink: 0;
}

.icons-section-list-item p {
  margin: 0;
}

/* form-section */
.form-section {
  padding: 80px 0 160px;
}

.form-section-title {
  color: #171717;
  font-size: 48px;
  font-family: "Marcellus", serif;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 20px;
}

.form-section-text {
  color: #4a4f61;
  font-weight: normal;
  max-width: 660px;
  margin-bottom: 30px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.form-container {
  background-color: #f6f6f6;
  max-width: 668px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -50px;
  padding: 50px;
}

.wp-block-contact-form-7-contact-form-selector {
  background-color: #f6f6f6;
  max-width: 668px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
}

.form-container textarea[name="your-message"] {
  width: 100%; /* Make it responsive to container */
  height: 120px; /* Set a smaller height */
}

.wpcf7-form p,
.form-container p {
  margin-bottom: 0;
}

.form-container label,
.form-container label span .wp-block-contact-form-7-contact-form-selector label,
.wp-block-contact-form-7-contact-form-selector label span {
  max-width: 100%;
  display: block;
}

.wp-block-contact-form-7-contact-form-selector label,
.form-container label {
  font-size: 14px;
}
.wp-block-contact-form-7-contact-form-selector input,
.wp-block-contact-form-7-contact-form-selector textarea,
.form-container input,
.form-container textarea {
  width: 100%; /* Make it responsive */
  max-width: 100%; /* Prevent it from overflowing */
  box-sizing: border-box; /* Ensure padding is included in width */
  margin-top: 8px;
  border: none;
  border-radius: 0;
}

.wp-block-contact-form-7-contact-form-selector input:focus,
.form-container input:focus {
  outline: 1px solid #171717;
}

.wp-block-contact-form-7-contact-form-selector select,
.form-container select {
  width: 100%;
  border: 1px solid white;
  background-color: #fff;
  padding: 8px;
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 12px;
}

.form-row p {
  max-width: 50%;
}

.form-image {
  width: 100%;
}

.form-info-title {
  color: #171717;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

.form-info-row {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.form-info-row a {
  text-decoration: none;
  color: inherit;
}

.form-info-row p {
  margin: 0;
}

.form-info-row-item {
  list-style: none;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  gap: 20px;
}

.form-info-row-icon {
  margin-top: 4px;
}

.form-info-divider {
  margin: 40px 0;
  width: 100%;
  height: 1px;
  background-color: rgba(74, 79, 97, 0.4);
}

.form-info-row-item:not(:last-child) {
  border-right: 1px solid rgb(74, 79, 97);
}

/* Style the submit button */
.wpcf7-form button,
.form-container input[type="submit"],
.form-container button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #171717; /* Black background */
  color: white; /* White text */
  border: none; /* Remove default border */
  padding: 12px 20px; /* Add padding */
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  width: max-content;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.form-container button::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background-position: center;
  background-size: contain;
}

/* Change the background color when hovering */
.wpcf7-submit:hover {
  background-color: #333; /* Darker black on hover */
}

/* PRODUCT */
.single-product-section {
  padding-top: 150px;
  padding-bottom: 120px;
}

.single-product-breadcrumbs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.single-product-gallery-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 55px;
  margin-bottom: 60px;
}

.single-product-gallery-section h1 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #171717;
  font-family: "Marcellus", serif;
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.2;
}

.single-product-content {
  font-size: 14px;
  color: #4a4f61;
}

.single-product-gallery-slider {
  display: flex;
  gap: 12px;
  width: 815px;
  height: 736px;
}

.single-product-gallery .single-product-main-image {
  width: 100%;
  height: 100%;
}

.single-product-images {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 72px;
  height: 736px;
}

.single-product-main-image {
  width: 736px;
  height: 736px;
}

.single-product-main-image img {
  width: 100%;
}

.single-product-variable-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 18px;
  margin-top: 32px;
}

.single-product-product-variations {
  display: flex;
  gap: 18px;
}

.single-product-variation-link {
  text-decoration: none;
}

.single-product-variation-link h3 {
  color: #4a4f61;
  font-weight: 400;
  font-size: 14px;
}

.single-product-content-wrapper {
  flex-basis: 50%;
}

.single-product-details-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 55px;
  width: 100%;
  margin-bottom: 80px;
}

.single-product-details-title {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 22px;
  background-color: #d9d9d9;
  color: #171717;
  margin-bottom: 35px;
}

.single-product-upsells h2 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #171717;
}

.single-product-upsell-products {
  margin: 0;
  display: flex;
  gap: 12px;
}

.single-product-upsell-products li {
  list-style: none;
}

.single-product-upsell-products a {
  text-decoration: none;
}

.single-product-upsell-products img {
  max-width: 170px;
}

.single-product-upsell-products h3 {
  color: #171717;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.woocommerce-sorting {
  display: flex;
  gap: 16px;
  align-items: center;
}

.product-not-found-any {
  font-size: 24px;
  text-align: center;
  margin: 100px 0 200px;
}

.single-product-swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.single-product-swiper-pagination .swiper-slide {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
}

.single-product-swiper-pagination .swiper-slide:hover {
  opacity: 1;
}

.single-product-swiper-pagination .swiper-slide.custom-active {
  opacity: 1;
}

.single-product-swiper-pagination .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.site-main {
  min-height: 65vh;
}

.def-page {
  padding: 140px 40px;
  max-width: 1000px;
  margin: 0 auto;
}

/* hamburger */
.hamburger {
  flex-direction: column;
  width: 70px;
  cursor: pointer;
  transform: scale(0.5);
  display: none;
  border: none;
  background: transparent;
  padding: 0;

  @media screen and (max-width: 1240px) {
    display: flex;
  }
}

.hamburger.is-active {
  z-index: 101;
}

.hamburger span {
  background: #fff;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger span:nth-of-type(1) {
  width: 50%;
}

.hamburger span:nth-of-type(2) {
  width: 100%;
}

.hamburger span:nth-of-type(3) {
  width: 75%;
}

.hamburger.is-active span {
  background: #171717;
}

.hamburger.is-active span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

.hamburger.is-active span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.hamburger.is-active span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}
